<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hust.plane.mapper.mapper.RouteMapper" >
 <resultMap id="BaseResultMap" type="hust.plane.mapper.pojo.Route" >
    <id column="routeid" property="routeId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="routepath" property="routePath" jdbcType="VARCHAR" />
    <result column="descripte" property="descripte" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
	<select id="selectALLRoute" resultMap="BaseResultMap">
		select routeid,status,AsText(routepath) as routepath,descripte,createtime,updatetime,type
		from route 
	</select>
	
	<insert id="insert" parameterType="hust.plane.mapper.pojo.Route">
		insert into route(routeid,status,routepath,descripte,createtime,updatetime,type) values (#{routeId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, GeomFromText(#{routePath,jdbcType=VARCHAR}), 
      #{descripte,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR})

	</insert>
</mapper>