<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hust.phone.mapper.mapper.PlanePathMapper" >
 <resultMap id="BaseResultMap" type="hust.phone.mapper.pojo.PlanePath" >
    <id column="planepathid" property="planepathid" jdbcType="VARCHAR" />
    <result column="plongda" property="plongda" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="LONGVARCHAR" />
    <result column="descripte" property="descripte" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_list">

  		planepathid,AsText(plongda) as plongda,height,descripte,createtime,updatetime
 </sql>
	<select id="selectByPlanePathVo"  parameterType="hust.phone.mapper.pojo.PlanePath" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_list"/>
		from planepath
		WHERE 1=1 

		<if test="planepathid != null">
		AND planepathid = #{planepathid}
		</if>	
	</select>
	
	<insert id="insert" parameterType="hust.phone.mapper.pojo.PlanePath">
		insert into planepath(planepathid,plongda,height,descripte,createtime,updatetime) values (#{planepathid,jdbcType=VARCHAR},GeomFromText(#{plongda,jdbcType=VARCHAR}), 
      #{height,jdbcType=LONGVARCHAR},#{descripte,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
	</insert>
	
	<insert id="insertPlanePath" parameterType="hust.phone.mapper.pojo.PlanePath">
		insert into planepath(planepathid,plongda,height,descripte,createtime,updatetime) values (#{planepathid,jdbcType=VARCHAR},GeomFromText(#{plongda,jdbcType=VARCHAR}), 
      #{height,jdbcType=LONGVARCHAR},#{descripte,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
	</insert>
	
	<select id="selectByPlanepathId"  parameterType="hust.phone.mapper.pojo.PlanePath" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_list"/>
		from planepath
		WHERE planepathid = #{planepathid}	
	</select>
	
	<select id="planePathCount" resultType="java.lang.Integer" parameterType="hust.phone.mapper.pojo.PlanePath">
        select count(1) from planepath  
        WHERE 1=1 
		<if test="planepathid != null">
		AND planepathid = #{planepathid}
		</if>	
    </select>
	
	
	<select id="queryPlanePathPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list" />
        FROM planepath
        WHERE 1=1 
		<if test="param1.planepathid != null">
		AND planepathid = #{param1.planepathid}
		</if>
        ORDER BY createtime DESC
        LIMIT #{param2.startIndex, jdbcType=INTEGER} , #{param2.pageSize, jdbcType=INTEGER}
    </select>
	<select id="findAllplanePath"  parameterType="hust.phone.mapper.pojo.PlanePath" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_list"/>
		from planepath
	</select>
</mapper>