body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#content{
    width: 100%;
    height: 80%;
}
#optionArea{
    width: 100%;
    
}
#locate{
    z-index: 100;
    margin-top: 60px;
    position: absolute;
    margin-left: 87%;
}